# database uri
MONGO_URI="enter dataabse url"
# url port
NEXT_BASE_URL="enter port"

# clodanary cloud storage credential
CLOUDINARY_CLOUD_NAME="cloudanary cloud name"
CLOUDINARY_API_KEY="cloudanary api key"
CLOUDINARY_API_SECRET="cloudanary secret"

# seceret credential
JWT_SECRET = "your-secret"
JWT_EXPIRE = "token expires in "

# email credential
GMAIL_APP_PASSWORD="goole gmail passwrd from google api "
GMAIL_USER="google user id from google api"
